html, body, div {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
	display: block;
    min-width: 1000px;
	font-size: 14px;
	font-family: Verdana, Arial, sans;
	color: #333;
	background:
		-webkit-linear-gradient(left, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%);
	background:
		linear-gradient(left, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%);
	background:
		-o-linear-gradient(left, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%);
	background:
		-moz-linear-gradient(left, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%);
	background:
		-ms-linear-gradient(left, rgba(0,0,0,0.15) 0, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%);
	background-color: #c8e8ff;
}

a {
	text-decoration: none;
	color: #676767;
}
a:hover { text-decoration: underline; }
label { display:block; }
h1, h2, h3{
	margin: 10px 0px;
	color: #444;
}

/* COMMON FORMS STYLE */
input[type=text].common, input[type=password].common {
	border: 1px solid #999;
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	border-radius: 3px;
	padding: 3px 4px;
}
input[type=submit].common, input[type=button].common, button.common{
	cursor: pointer;
	border-radius: 3px;
	font-size: 13px;
	line-height: 17px;
	border-color: #AAA;
	border-width: 1px;
	color: #222;
	padding: 2px 4px;
	background: -webkit-linear-gradient(top, #FCFCFC, #D3D3D3);
	background: -moz-linear-gradient(top, #FCFCFC, #D3D3D3);
	background: -o-linear-gradient(top, #FCFCFC, #D3D3D3);
	background: -ms-linear-gradient(top, #FCFCFC, #D3D3D3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#D3D3D3');
}
input[type="submit"].common:hover, input[type="button"].common:hover, button.common:hover{
	background: -webkit-linear-gradient(top, #FFF, #BBC6E6);
	background: -moz-linear-gradient(top, #FFF, #BBC6E6);
	background: -o-linear-gradient(top, #FFF, #BBC6E6);
	background: -ms-linear-gradient(top, #FFF, #BBC6E6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#BBC6E6');
}
/* COMMON FORMS STYLE */



/* HEADER */
div#header {
	height: 64px;
	background-color: #247;
	z-index: 50;
	border-bottom: 1px solid #000;
	background-image: linear-gradient(bottom, #2e558c 1%, #3463a3 51%, #224477 100%);
	background-image: -o-linear-gradient(bottom, #2e558c 1%, #3463a3 51%, #224477 100%);
	background-image: -moz-linear-gradient(bottom, #2e558c 1%, #3463a3 51%, #224477 100%);
	background-image: -webkit-linear-gradient(bottom, #2e558c 1%, #3463a3 51%, #224477 100%);
	background-image: -ms-linear-gradient(bottom, #2e558c 1%, #3463a3 51%, #224477 100%);
}
div#header > .h_wrapper {
    height: 100%;
    border-bottom: 1px solid #EEE;
}
div#header a {
	color: #E0F0FF;
}
div#header span.logo {
	display: block;
	float: left;
	font-size: 26px;
	margin: 13px 40px 15px 15px;
	font-weight: bold;
}
div#header span.logo a {
    text-decoration: none;
    color: #B0C5E0;
}
div#header span.logo a:hover {
    color: #EFF8FF;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px;
}

div#header ul.h_menu{
	margin: 0px auto;
	margin-top: 15px;
}
div#header .left_section {
    float: right;
    height: 100%;
    border-left: 1px solid #89a;
    border-left: 1px solid rgba( 110, 130, 170, 0.5 );
    background-color: rgba( 40, 75, 90, 0.1 );
    overflow:  hidden;
}
div#header .left_section:hover{
    background-color: rgba( 20, 90, 40, 0.4 );
    border-color: rgba( 10, 80, 10, 0.7 );
}
div#header .left_section .ls_wrapper {
    padding: 6px;
    border-left: 1px solid #348;
    height: 100%;
}
/* HEADER */

/* CONTENT BODY */
div.body_wrapper {
    overflow: hidden;
	padding-bottom: 110px;
	background-image: linear-gradient(top, rgba(0,0,0,0.22) 0, rgba(0,0,0,0) 12px);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.22) 0, rgba(0,0,0,0) 12px);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.22) 0, rgba(0,0,0,0) 12px);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.22) 0, rgba(0,0,0,0) 12px);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.22) 0, rgba(0,0,0,0) 12px);
}
div#body {
    margin: 30px auto;
    padding: 12px;
    background-color: #FFFFFF;
    width: 90%;
    max-width: 1280px;
    min-width: 920px;
	border-radius: 10px;
	border: 1px solid #999 /*#197514*/;
	/*border-color: rgba(25,117,20,0.6);*/
	box-shadow: 0px 0px 14px rgba(0,0,0,0.17);
	z-index: 0;
}

/* LAYOUT */
#global_content_wrapper{
	min-height: 100%;
	margin-bottom: -110px;
}

/* FOOTER */
div#footer {
	margin: 0;
	padding: 0px;
	height: 110px;
	width: 100%;
	overflow:  hidden;
	background-image: linear-gradient(top, rgba(0,0,0,0) 8px, rgba(0,0,0,0.22) 20px);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 8px, rgba(0,0,0,0.22) 20px);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 8px, rgba(0,0,0,0.22) 20px);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 8px, rgba(0,0,0,0.22) 20px);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 8px, rgba(0,0,0,0.22) 20px);
}
div#footer .content {
	margin-top: 20px;
	border-top: 1px solid #EEE;
	text-align: center;
	height: 75px;
	padding: 10px;
	color: #def;
	font-size: 12px;
	background-color: #5a5a5a;
	background-image: linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 30%);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 30%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 30%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 30%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 30%);
}


/* MESSAGES */
div.error {
	border: 1px solid #C55;
	background-color: #EBB;
	margin: 10px 0 5px 0;
	line-height: 18px;
	padding: 3px;
	border-radius: 4px;
}
div.success {
	border: 1px solid #5C5;
	line-height: 20px;
	background-color: #BEB;
	margin: 10px 0 5px 0;
	padding: 3px;
	border-radius: 4px;
}


/* AUTH FORM */
form#auth {}
form#auth.logged {
	padding: 12px 6px;
}
form#auth input[type=text],
form#auth input[type=password] {
	width: 90px;
}
/* AUTH FORM */

/* ГОРИЗОНТАЛЬНОЕ МЕНЮ */
ul.h_menu, ul.v_menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-position: inside;
	display: inline-block;	
	color: #E0F0FF;
}
ul.h_menu a, ul.v_menu a {
	color: #E0F0FF;
}

ul.h_menu > li {
	float: left;
	padding: 0px;
	margin: 0px;
}
ul.h_menu li > a, ul.h_menu li > span.a {
	display: block;
	padding: 8px 10px;
}
ul.h_menu > li:hover {
	background-color: #5a5043;
}
ul.h_menu > li > a:hover,
ul.h_menu > li > span.a:hover {
	background-color: #374;
}
ul.h_menu > li > ul.v_menu {
	display: none;
}
ul.h_menu > li:hover > ul.v_menu {
	background-color: #5a5043;
	position: relative;
	top: 0;
	left: 0;
	display: block;
	z-index: 100;
}
ul.h_menu > li:hover > ul.v_menu li:hover{
	background-color: #273;
}
ul.v_menu > li {
	display: block;
}

/* PAGINATOR */
div.paginator{
	overflow: hidden;
}
div.paginator a{
	float: left;
	display: inline-block;
	padding: 2px 3px;
	margin: 0;
}
div.paginator a:hover{
	background-color: #E0EFFF;
}
div.paginator span.current{
	float: left;
	display: inline-block;
	background-color: #79B;
	cursor: default;
	color: white;
	padding: 2px 3px;
	margin: 0;
}
/* PAGINATOR */



/* COMMON TABLE */
table.common{
	width:100%;
	border-collapse: collapse;
	border: 3px solid #BBB;
}
table.common tr th{
	color: #357;
	text-align: center;
	background-color: #EDEDED;
	padding: 6px 3px;
	border-bottom: 1px solid #DDD;
}
table.common tr td{
	padding: 5px;
	text-align: center;
}
table.common tr td.left		{ text-align: left; }
table.common tr td.center	{ text-align: center; }
table.common tr td.right	{ text-align: right; }
table.common tr:hover td{
	background-color: #b6e6b6 !important;
}
table.common tr.odd td{
	background-color: #E7F0F7;
}
table.common tr.highlight1 td{ background-color: #DED; }
table.common tr.highlight2 td{ background-color: #DDD; }

table.common tr.header td, 
table.common tr.header th{
	color: #357;
	font-weight: bold;
	background-color: #DDD;
}
/* COMMON TABLE */



/* DEPARTMENTS TREE */
#departments_tree {
	border: 1px solid #999;
	border-radius: 4px;
	font-size: 14px;
}
#departments_tree li{
	margin-top: 5px;
	margin-bottom: 5px;
}


/* AJAX LOADER */
span.loader {
	display: none;
}
span.loader div{
	display: inline-block;
	width: 16px;
	height: 15px;
	background: transparent url(fbloader.gif) center left no-repeat;
}


/* COURSE THEMES MODULE */
.course_stages_list {
	list-style: none inside;
	max-width: 850px;
}
.course_stages_list li {
	/* border-left: 1px solid grey; */
}
.course_stages_list li.theme {
	cursor: default;
	min-height: 18px;
}
.course_stages_list > li {
	padding-top: 10px;
}
.course_stages_list .course_stage{
	border: 1px solid #CCC;
	padding-top: 7px;
	padding-bottom: 8px;
	border-radius: 4px;
	background-color: #F9F9F9;
}
.course_stages_list .course_stage li.theme{
}
/*NO-SELECTABLE*/
.course_stages_list .noselect{ 
}


.transition_all_03 {
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}
.transition_all_05 {
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}


#staff_grid {
	border: 0px;
}



.common_form {
	dislay: block;
	padding: 10px;
}
.common_form label {
	display: block;
	padding: 1px;
	margin: 1px 0;
	vertical-align: text-top;
}
.common_form label > span {
	display: inline-block;
	width: 250px;
	max-width: 250px;
}
.common_form label > .common_input {
	margin: 0px;
	display: inline-block;
	width: 240px;
}
.common_form > fieldset {
	margin: 10px 0px;
	padding: 4px;
	border: 1px solid #aaa;
	border-radius: 3px;
}
#exisiting_personalia, #new_personalia {
	margin: 12px 6px 6px;
}